*{
  margin: 0;
  padding: 0;
}
.bg{
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  font-size: 300px;
  color: white;
}
.parentBox{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}
.box{
  width: 120px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4%;
  background-color: black;
  color: white;
}
.text1{
  color:white;
}